<div id="login" class="form-container">
  <button (click)="loginGoogle()" class="btn btn-dark btn-lg btn-block"><i class="fab fa-google"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login or Signup With Google</button>
  <button (click)="loginTwitter()" class="btn btn-dark btn-lg btn-block"><i class="fab fa-twitter"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login or Signup With Twitter</button>
  <button (click)="loginGithub()" class="btn btn-dark btn-lg btn-block"><i class="fab fa-github"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login or Signup With GitHub</button>
  <button routerLink="/email-login" class="btn btn-dark btn-lg btn-block"><i class="far fa-envelope-open"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login or Signup With E-mail</button>
  <a routerLink="/signup" routerLinkActive="active" class="create-account-txt">No account? <strong>Create one here</strong></a>
</div>
